Neptune_Nest/Public_Projects/#2__Redshift-based-ETL-workflows-using-AWS-GLue/Glue_Job_State_Machine/Definition.json
{
  "StartAt": "ReadFilterJob",
  "States": {
    "ReadFilterJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ETL-RS-Glue",
        "Arguments": {
          "--db": "reviews",
          "--db_creds": "reviewssecret",
          "--bucket": "etl-rs-g-scriptbucket-1v9hrjp5if7oh",
          "--file": "sql/etl.sql"
        }
      },
      "Next": "ReportJob",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.cause"
        }
      ]
    },
    "ReportJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ETL-RS-Glue",
        "Arguments": {
          "--db": "reviews",
          "--db_creds": "reviewssecret",
          "--bucket": "etl-rs-g-scriptbucket-1v9hrjp5if7oh",
          "--file": "sql/topreviews.sql"
        }
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.cause"
        }
      ]
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:457403320578:ETL-STEP-RS-GLUE-FailNotificationSNS-VS6GA0GMC7ME",
        "Message.$": "$.cause"
      },
      "End": true
    }
  }
}
